.git
.gitignore
.dockerignore
.travis.yml

charts/
heroes-acceptance-tests/
Dockerfile*

# Build stuff
**/target/

# dependencies
**/node_modules/
**/node/

# IDEs and editors
**/.idea
**/.project
**/.classpath
**/.settings
**/*.iml
