# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
target/
tmp/

# dependencies
node_modules/
heroes-frontend/node/
heroes-frontend/src/model/

# Cypress
heroes-acceptence-tests/package-lock.json
heroes-acceptence-tests/cypress/videos/*

# IDEs and editors
/.idea
.project
.classpath
.factorypath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
npm-debug.log
debug.log
testem.log
yarn.lock

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
