<h2>{{ 'page.my-heroes' | translate }}</h2>
<section class="add-section">
  <mat-form-field>
    <mat-label>{{ 'label.hero-name' | translate }}</mat-label>
    <input
      matInput
      #heroName
      id="heroName"
      (keyup.enter)="add(heroName.value); heroName.value = ''"
    />
  </mat-form-field>
  <button (click)="add(heroName.value); heroName.value = ''" mat-raised-button color="primary">
    {{ 'button.add' | translate }}
  </button>
</section>

<table mat-table [dataSource]="heroes$" class="heroes">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>{{ 'label.id' | translate }}</th>
    <td mat-cell *matCellDef="let hero">{{ hero.id }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'label.hero-name' | translate }}
    </th>
    <td mat-cell *matCellDef="let hero">{{ hero.name }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>{{ 'label.actions' | translate }}</th>
    <td mat-cell *matCellDef="let hero">
      <button
        mat-icon-button
        [attr.aria-label]="'button.view-details' | translate"
        (click)="gotoDetail(hero)"
        class="edit"
      >
        <mat-icon fontIcon="edit"></mat-icon>
      </button>
      <button
        mat-icon-button
        [attr.aria-label]="'button.delete-hero' | translate"
        (click)="delete(hero)"
        class="delete"
      >
        <mat-icon fontIcon="delete"></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
