name: Build, Test and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build-test-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: zulu
      - name: Docker Login
        uses: Azure/docker-login@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
      - name: Build application
        run: mvn -B package jib:dockerBuild -Dimage=porscheinformatik/angular-spring-heroes
      - name: Build acceptance tests
        run: docker build -t heroes-acceptence-tests heroes-acceptence-tests
      - name: Run app for tests
        run: docker run --name ash -d --rm -p 8080:8080 porscheinformatik/angular-spring-heroes
      - name: Sleep for 20s
        uses: juliangruber/sleep-action@v1
        with:
          time: 20s
      - name: Run tests
        run: docker run -i --rm --link ash heroes-acceptence-tests --config baseUrl=http://ash:8080
      - name: Cleanup app for tests
        run: docker stop ash
      - name: Push image to Docker Hub
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: docker push porscheinformatik/angular-spring-heroes
      - name: Push image to ghcr.io
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |
          echo ${{ secrets.GHCR_PASSWORD }} | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin
          docker tag porscheinformatik/angular-spring-heroes ghcr.io/porscheinformatik/angular-spring-heroes
          docker push ghcr.io/porscheinformatik/angular-spring-heroes
